.container {
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
}

.header_block {
  position: relative;
}

.header_container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
}

.header_row {
  position: relative;
}

.header__video {
  height: 100%;
  width: 100%;
}

.header__video--mobile {
  display: none;
}

.header_left_col {
  width: fit-content;
}

.anima_moscow {
  position: relative;
  top: -60px;

  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 121px;

  margin-bottom: -85px;

  text-align: right;
}

.anima_moscow span {
  display: block;
}

.anima_moscow span:first-child {
  position: relative;

  top: 60px;
}

.row_open_forum {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.open_forum__text {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;

  color: #000000;
}

.open_forum__number {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 121px;

  margin-left: 5px;

  color: #000000;
}

.col_header_left_col_dates {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;

  margin-bottom: 6px;

  color: #000000;
}

.col_header_left_col_space {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;

  margin-bottom: 19px;

  color: #000000;
}

.col_header_left_col_space br {
  display: none;
}

.col_header_left_col_online {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 47px;

  color: #000000;
}

.col_header_left_col_online::before {
  width: 8px;
  height: 8px;
  margin-right: 12px;

  content: "";

  border-radius: 50%;
  background: #08fe03;
}

.header__btn {
  position: relative;
  z-index: 3;

  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 113.98%;

  display: block;

  padding: 26px 33px 27px 37px;

  transition: all 0.2s linear;
  text-decoration: none;

  color: #000000;
}

.header__btn:hover {
  color: #000000;
}

.header__btn:hover::after {
  top: 0;
  left: 0;
}

.header__btn::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  content: "";
  transition: all 0.2s linear;

  background: #ffe001;
  border-radius: 12px;
}

.header__btn::after {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -2;

  width: 100%;
  height: 100%;

  content: "";
  transition: all 0.2s linear;

  background: #e21e2c;
  border-radius: 12px;
}

.why_block {
  position: relative;

  margin-bottom: 60px;
}

.why_block::after {
  position: absolute;
  z-index: 1;
  right: -42px;
  bottom: -80px;

  width: 214px;
  height: 163px;

  content: "";

  background: url("../images/why_decore-2.svg") no-repeat center;
}

.why_block_wrapper {
  position: relative;
  z-index: 2;

  padding: 45px 119px 71px 120px;
  margin: 0;

  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(174, 174, 174, 0.25);
  border-radius: 56px;
}

.why_block_wrapper::before {
  position: absolute;
  top: 15px;
  left: 20px;

  width: 71px;
  height: 87px;

  content: "";

  background: url("../images/pen.svg") no-repeat center;
}

.why_img img {
  height: 60px;
  width: auto;
}

.why__title {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 62px;

  margin-bottom: 37px;

  text-align: center;

  color: #11253d;
}

.why_col_caption {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 62px;

  text-align: center;

  color: #000000;
}

.why_col_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.speakers_block_wrapper {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 43px;
}

.speakers_block_carousel.carousel {
  background: none;
}

.speakers_block_inner {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  padding-left: 46px;
  margin-bottom: 14px;
}

.speakers_block_title {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 1;

  margin-right: 45px;
  margin-bottom: 0;

  color: #11253d;
}

.speakers-controlls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.speakers-controlls__btn {
  cursor: pointer;
}

.speakers-controlls__btn--disabled {
  pointer-events: none;

  opacity: 0.53;
}

.speakers-controlls__btn--back,
.speakers-controlls__btn--next {
  width: 25px;
  height: 20px;

  background: url("../images/speakers/arrow.svg") no-repeat center;
  border: none;
}

.speakers-controlls__btn--back_double,
.speakers-controlls__btn--next_double {
  width: 35.89px;
  height: 24.67px;

  background: url("../images/speakers/arrow_double.svg") no-repeat center;
  border: none;
}

.speakers-controlls__btn--back,
.speakers-controlls__btn--back_double {
  transform: rotate(-180deg);
}

.speakers-controlls__btn--back {
  margin-right: 18px;
}

.speakers-controlls__btn--back_double {
  margin-right: 8px;
}

.speakers-controlls__btn--next_double {
  margin-right: 18px;
}

.speakers-item {
  height: 100%;
  padding: 30px;
}

.speakers__col:first-child .speakers-item {
  padding-right: 0;
}

.speakers__col:last-child .speakers-item {
  padding-left: 0;
}

.speakers-item__wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 22px 29px 34px 16px;
  height: 100%;

  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(174, 174, 174, 0.25);
  border-radius: 26px;
}

.speakers-item__number {
  position: absolute;
  top: 15px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 70px;
  height: 26px;
  padding-right: 13px;

  color: rgba(0, 0, 0, 0.5);
  background: #f5f5f5;
  border-radius: 39px;
}

.speakers-item__left {
  margin-right: 30px;
}

.speakers-item__img {
  display: block;

  filter: drop-shadow(0px 10px 30px rgba(174, 174, 174, 0.25));
}

.speakers-item__title {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 125%;

  margin-bottom: 13px;

  color: #000000;
}

.speakers-item__track {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-left: -21px;
  margin-bottom: 15px;

  color: rgba(0, 0, 0, 0.6);
}

.speakers-item__track::before {
  display: block;

  width: 8.5px;
  height: 7.08px;
  margin-right: 13px;

  content: "";

  background: url("../images/speakers/track.svg") no-repeat center;
}

.speakers-item__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.8);
}

.speakers__row {
  margin-left: -20px;
  margin-right: -20px;
}

.speakers__row > * {
  padding-left: 20px;
  padding-right: 20px;
}

.organizers_block {
  position: relative;
}

.organizers_block::before {
  position: absolute;
  top: 50px;
  right: calc(-4vw + -80px);
  z-index: -2;

  width: 212px;
  height: 199px;

  content: "";

  background: url("../images/organizers/bg.svg") no-repeat center / contain;
}

.organizers_block::after {
  position: absolute;
  z-index: -1;
  top: -143px;
  right: calc(-4vw + -100px);

  width: 364px;
  height: 283px;

  content: "";

  background: url("../images/tracks/bg-2.svg") no-repeat center / contain;
}

.organizers_block_wrapper {
  margin-bottom: 92px;
}

.organizers_block_title {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 62px;
  font-feature-settings: "liga" off;

  padding-left: 46px;
  margin-bottom: 24px;

  color: #11253d;
}

.organizers_block_item {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  padding: 50px;
  height: 100%;

  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(174, 174, 174, 0.25);
  border-radius: 26px;
}

.organizers_block_col:last-child .organizers_block_item::before {
  position: absolute;
  top: 5px;
  right: 10px;

  width: 71px;
  height: 87px;

  content: "";
  transform: rotate(90deg);

  background: url("../images/pen.svg") no-repeat center / contain;
}

.organizers_block_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 33px;
  height: 100%;
}

.organizers_block_logo {
  display: block;
  max-width: 100%;
}

.organizers_block_label {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;

  display: block;

  padding: 3px 23px 6px 24px;
  margin-bottom: 29px;
  width: fit-content;

  background: #fff399;
  border-radius: 50px;
  color: #000000;
}

.organizers_block_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;

  color: rgba(0, 0, 0, 0.5);
}

.partners_block_wrapper {
  margin-bottom: 83px;
  padding: 0;
}

.partners_block_title {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 62px;
  font-feature-settings: "liga" off;

  margin-bottom: 15px;
  padding-left: 46px;

  color: #11253d;
}

.place_block_wrapper {
  padding: 28px 37px 28px 65px;
  margin: 0;
  margin-bottom: 39px;

  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(174, 174, 174, 0.25);
  border-radius: 46px;
}

.place_block_col:first-child {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.place_left_date {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  margin-bottom: 12px;

  color: #e64d4f;
}

.place_block_title {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 62px;

  margin-bottom: 12px;

  color: #000000;
}

.place_left_desc {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-size: 18px;
  line-height: 26px;

  max-width: 431px;
  margin-bottom: 59px;

  color: #000000;
}

.place_left_address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: #000000;
}

.place_left_icon {
  display: block;

  margin-right: 15px;
}

.place_block_carousel.carousel {
  background: none;
}

.place_block_indicators {
  display: flex;
  align-items: center;
  justify-content: center;
}

.place_block_indicators button {
  width: 13px !important;
  height: 13px !important;
  margin-left: 3.5px !important;
  margin-right: 3.5px !important;

  transition: all 0.3s linear !important;

  opacity: 1 !important;
  background: #ffffff;
  border-radius: 50%;
  border: none !important;
}

.place_block_indicators button.active {
  width: 53px !important;
  height: 6px !important;
  max-height: 6px !important;
  margin-left: 9px !important;
  margin-right: 9px !important;

  background: #ffffff;
  border-radius: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 31px;
  padding-left: 110px;

  background: #1b1d20;
  border-radius: 34px 34px 0 0;
}

.ul_footer_menu {
  margin-bottom: 0;
}

.li_footer_menu_item {
  margin-right: 40px;
}

.li_footer_menu_item:last-child {
  margin-right: 0;
}

.a_footer {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-decoration: none;
  transition: all 0.2s linear;

  color: #ffffff;
  border-bottom: 1px solid transparent;
}

.a_footer:hover {
  color: #ffffff;
  border-color: #fff;
}

.footer__btn {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-feature-settings: "liga" off;

  padding: 16px 22px;

  transition: all 0.2s linear;
  text-decoration: none;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 64px;
}

.footer__btn:hover {
  background-color: #fff;
  color: #000000;
}

.nav_navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav_brand {
  margin-right: 36px;
}

.nav_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.nav_collapse {
  flex-grow: unset;
}

.navbar_nav {
  align-items: center;
}

.nav_item {
  margin-right: 35px;
}

.nav_item:nth-last-child(2) {
  margin-right: 23px;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  position: relative;

  padding: 30px 0 !important;

  color: #000000;
}

.nav_link:hover::before,
.nav_link.active::before {
  opacity: 1;
}

.nav_link::before {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 6px;

  content: "";
  transition: all 0.2s ease;

  opacity: 0;
  background: #e21e2c;
  border-radius: 5px 5px 0 0;
}

.nav_link--btn {
  padding: 16px 25px !important;

  transition: all 0.2s linear;

  border: 1px solid #000000;
  border-radius: 64px;
}

.nav_link--btn:hover {
  color: #fff !important;
  background: #000;
}

.nav_link--btn::before {
  display: none !important;
}

.tracks_block {
  position: relative;
}

.tracks_block::before {
  position: absolute;
  z-index: -1;
  top: -400px;
  left: -100px;

  width: 698.33px;
  height: 2231.88px;

  content: "";

  opacity: 0.5;
  border: 1px solid #000000;
  border-radius: 50%;
  transform: rotate(-30deg);
}

.partners_block {
  position: relative;
}

.partners_block::before {
  position: absolute;
  right: 300px;
  top: -420px;
  z-index: -1;

  width: 698.33px;
  height: 2231.88px;

  content: "";

  opacity: 0.5;
  border: 1px solid #000000;
  border-radius: 50%;
  transform: rotate(42.44deg);
}

@media (max-width: 1199px) {
  .anima_moscow {
    font-size: 79px;
    line-height: 100px;
  }

  .open_forum__number {
    font-size: 79px;
    line-height: 100px;
  }
}

@media (max-width: 992px) {
  #anima {
    padding: 0;
  }

  .nav_row {
    position: relative;
  }

  .nav_inner {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .nav_collapse {
    /*display: flex !important;*/
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;

    width: 100%;

    background: #fff;
    border-radius: 0 0 28px 28px;
  }

  .nav_collapse {
    /*   display: block !important;

    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;

    width: 100%;

    background: #fff;
    border-radius: 0 0 28px 28px;*/
  }

  .nav_brand {
    margin-right: 15px;
  }

  .nav_toggler {
    padding: 0;

    outline: none;

    border: none;
    box-shadow: none !important;
  }

  .nav_toggler .navbar-toggler-icon {
    width: 38px;
    height: 15px;

    background: url("../images/burger.svg") no-repeat center;
  }

  .nav_item {
    margin-right: 0;
    /* width: 100%; */
  }

  .nav_link {
    font-size: 14px;
    line-height: 24px;

    padding: 6px 16px !important;

    border: 1px solid #000;
    border-radius: 75px;
  }

  .nav_link--btn {
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    padding: 12px 0;
    width: 100%;
  }

  .header_container {
    align-items: flex-start;
  }

  .header_left_col {
    padding-top: 182px;
  }

  .col_header_left_col_dates {
    position: absolute;
    top: 16px;
    left: 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .open_forum__text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;

    position: absolute;
    top: 59px;
    left: 0;

    width: 100%;
  }

  .open_forum__text br {
    display: none;
  }

  .col_header_left_col_online {
    font-size: 18px;
    line-height: 120%;

    position: absolute;
    top: 95px;
    left: 0;
  }

  .col_header_left_col_space {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    position: absolute;
    top: 122px;
    left: 0;
  }

  .col_header_left_col_space br {
    display: inline;
  }

  .anima_moscow {
    top: -40px;

    margin-bottom: -65px;
  }

  .anima_moscow span:first-child {
    top: 40px;
  }

  .open_forum__number {
    margin-left: auto;
  }

  .header__btn {
    font-weight: 700;
    font-size: 21px;
    line-height: 113.98%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 323.95px;
    height: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .row_open_forum {
    margin-bottom: 39px;
  }

  .header__video--mobile {
    display: block;
  }

  .header__video--desktop {
    display: none;
  }

  .header_row {
    margin-left: auto;
    margin-right: auto;
  }
}
