@font-face {
  font-family: "Stratos LC Web";
  src: url("../fonts/StratosLCWeb-Light.eot");
  src: local("Stratos LC Web Light"), local("StratosLCWeb-Light"),
    url("../fonts/StratosLCWeb-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/StratosLCWeb-Light.woff2") format("woff2"),
    url("../fonts/StratosLCWeb-Light.woff") format("woff"),
    url("../fonts/StratosLCWeb-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Stratos LC Web";
  src: url("../fonts/StratosLCWeb-Bold.eot");
  src: local("Stratos LC Web Bold"), local("StratosLCWeb-Bold"),
    url("../fonts/StratosLCWeb-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/StratosLCWeb-Bold.woff2") format("woff2"),
    url("../fonts/StratosLCWeb-Bold.woff") format("woff"),
    url("../fonts/StratosLCWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Stratos LC Web";
  src: url("../fonts/StratosLCWeb-Medium.eot");
  src: local("Stratos LC Web Medium"), local("StratosLCWeb-Medium"),
    url("../fonts/StratosLCWeb-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/StratosLCWeb-Medium.woff2") format("woff2"),
    url("../fonts/StratosLCWeb-Medium.woff") format("woff"),
    url("../fonts/StratosLCWeb-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stratos LC Web";
  src: url("../fonts/StratosLCWeb-Regular.eot");
  src: local("Stratos LC Web"), local("StratosLCWeb-Regular"),
    url("../fonts/StratosLCWeb-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/StratosLCWeb-Regular.woff2") format("woff2"),
    url("../fonts/StratosLCWeb-Regular.woff") format("woff"),
    url("../fonts/StratosLCWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
