/*XX-Large*/
@media (max-width: 1400px) {
}

/*X-Large*/
@media (max-width: 1200px) {
}

@media (max-width: 1199px) {
  .anima_moscow {
    font-size: 79px;
    line-height: 100px;
  }

  .open_forum__number {
    font-size: 79px;
    line-height: 100px;
  }
}

/*Large*/
@media (max-width: 992px) {
  .track_well {
    padding-right: 100px;
  }
  .track_well::before {
    position: absolute;
    height: 150px;
    right: 0;
    margin-top: -50px;
  }
  .track_well_p1::before {
    content: url("../images/tracks/pm1.svg");
  }
  .track_well_p2::before {
    content: url("../images/tracks/pm2.svg");
  }
  .track_well_p3::before {
    content: url("../images/tracks/pm3.svg");
  }
  .track_well_p4::before {
    content: url("../images/tracks/pm4.svg");
  }
  .track_well_p5::before {
    content: url("../images/tracks/pm5.svg");
  }
  .track_well_p6::before {
    content: url("../images/tracks/pm6.svg");
  }

  .nav_item {
    display: inline-block;
  }

  .nav_inner {
    align-items: center;
  }
  .why_block_wrapper {
    padding: 30px;
  }
  .organizers_block_title,
  .place_block_title,
  .track_caption,
  .caption,
  .speakers_block_title {
    line-height: 110%;
    font-size: 36px;
    margin-left: 10px;
    padding-left: 0;
  }
  .carousel-cell img {
    height: 30px;
  }
  .why__title {
    margin-left: 0;
    margin-bottom: 21px;
  }
  #regModalLabel {
    font-size: 36px;
  }
  .navbar-collapse ul {
    display: inline-block;

    text-align: center;
  }
  .navbar-collapse li {
    margin: 5px 0 10px 0;
  }

  #anima {
    padding: 0;
  }

  .nav_row {
    position: relative;
  }

  .nav_inner {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .nav_collapse {
    /*display: flex !important;*/
    position: absolute;
    top: 69px;
    left: 0;
    z-index: 10;

    width: 100%;

    background: #fff;
    border-radius: 0 0 28px 28px;
  }

  .nav_collapse {
    /*   display: block !important;

    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;

    width: 100%;

    background: #fff;
    border-radius: 0 0 28px 28px;*/
  }

  .nav_brand {
    margin-right: 15px;
  }

  .nav_toggler {
    padding: 0;

    outline: none;

    border: none;
    box-shadow: none !important;
  }

  .nav_toggler .navbar-toggler-icon {
    width: 38px;
    height: 15px;

    background: url("../images/burger.svg") no-repeat center;
  }

  .nav_item {
    margin-right: 0;
    /* width: 100%; */
  }

  .nav_link {
    font-size: 14px;
    line-height: 24px;

    padding: 6px 16px !important;

    border: 1px solid #000;
    border-radius: 75px;
  }

  .nav_link:hover::before {
    display: none;
  }

  .nav_link--btn {
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    padding: 12px 0;
    width: 100%;
  }

  .header_container {
    align-items: flex-start;
  }

  .header_left_col {
    padding-top: 182px;
  }

  .col_header_left_col_dates {
    position: absolute;
    top: 16px;
    left: 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .open_forum__text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;

    position: absolute;
    top: 59px;
    left: 0;

    width: 100%;
  }

  .open_forum__text br {
    display: none;
  }

  .col_header_left_col_online {
    font-size: 18px;
    line-height: 120%;

    position: absolute;
    top: 95px;
    left: 0;
  }

  .col_header_left_col_space {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    position: absolute;
    top: 122px;
    left: 0;
  }

  .col_header_left_col_space br {
    display: inline;
  }

  .anima_moscow {
    top: -40px;

    margin-bottom: -65px;
  }

  .anima_moscow span:first-child {
    top: 40px;
  }

  .open_forum__number {
    margin-left: auto;
  }

  .header__btn {
    font-weight: 700;
    font-size: 21px;
    line-height: 113.98%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 323.95px;
    height: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .row_open_forum {
    margin-bottom: 39px;
  }

  .header__video--mobile {
    display: block;
  }

  .header__video--desktop {
    display: none;
  }

  .header_row {
    margin-left: auto;
    margin-right: auto;
  }

  .anima__logo {
    max-width: 105px;
  }

  .nav_subbrand img {
    max-width: 50px;
  }

  .nav_toggler .navbar-toggler-icon {
    display: block;
  }

  .why_block_wrapper::before {
    display: none;
  }

  .why_col {
    margin-bottom: 30px;
  }

  .why_col:last-child {
    margin-bottom: 0;
  }

  .pre_why_block::after {
    display: none;
  }

  .why_block::after {
    right: 0;
    bottom: -50px;

    width: 69px;
    height: 96px;

    background: url("../images/brush.svg") no-repeat center;
  }

  .speakers_block_inner {
    padding-left: 0;
    margin-bottom: 0;
  }

  .speakers-item__number {
    display: none;
  }

  .speakers-item__wrapper {
    padding: 29px 8px 18px 14px;
  }

  .speakers-item__img {
    max-width: 99px;
    height: auto;
  }

  .speakers-item__title {
    font-size: 22px;
    line-height: 28px;

    margin-bottom: 19px;
  }

  .speakers-item__track {
    margin-left: 0;
    margin-bottom: 14px;
  }

  .speakers-item__description {
    font-size: 12px;
    line-height: 135%;
  }

  .speakers-item__left {
    margin-right: 23px;
  }

  .tracks_block::before {
    top: -80px;
    left: 0;

    width: 166.05px;
    height: 388.55px;
  }

  .tracks_row {
    margin-bottom: 15px;
  }

  .tracks_row:last-child {
    margin-bottom: 0;
  }

  .organizers_block::after {
    top: 50px;
    right: -40px;

    width: 156px;
    height: 121px;
  }

  .organizers_block::before {
    top: -220px;
    left: 0;

    width: 194.63px;
    height: 543.3px;

    opacity: 0.5;
    border: 1px solid #000000;
    border-radius: 50%;
    transform: rotate(-30deg);
    background-image: none;
  }

  .organizers_block_col {
    margin-bottom: 15px;
  }

  .organizers_block_col:last-child {
    margin-bottom: 0;
  }

  .organizers_block_item {
    padding: 36px 15px 37px 23px;
  }

  .organizers_block_col:last-child .organizers_block_item::before {
    width: 38px;
    height: 47px;
  }

  .organizers_block_label {
    font-weight: 700;
    font-size: 22px;
    line-height: 145%;
  }

  .organizers_block_text {
    font-weight: 400;
    font-size: 15px;
    line-height: 145%;
  }

  .track_caption {
    background-size: 224px 249px;
  }

  .place_block_wrapper {
    padding: 38px 20px 23px;
  }

  .place_left_date {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    order: 2;

    margin-bottom: 22px;
  }

  .place_block_title {
    order: 1;

    margin-bottom: 22px;
    margin-left: 0;
  }

  .place_left_desc {
    font-size: 15px;
    line-height: 26px;

    order: 3;

    margin-bottom: 22px;
  }

  .place_left_address {
    font-size: 18px;
    line-height: 29px;

    order: 4;

    margin-bottom: 36px;
  }

  .col_place_right .carousel {
    padding-left: 0;
    padding-right: 0;
  }

  .place_block_indicators button {
    width: 7px !important;
    height: 7px !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
  }

  .place_block_indicators button.active {
    width: 28px !important;
    height: 3px !important;
    margin-left: 5.5px !important;
    margin-right: 5.5px !important;
  }

  .footer_mob__logo img {
    width: 134.65px;
    margin-bottom: 25px;
  }

  .footer_mob__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .a_footer_mob {
    padding: 6px 16px;

    white-space: nowrap;
  }

  .footer_mob {
    padding: 30px 12px 23px;
  }

  .footer_mob__menu > .row {
    margin-left: -3px;
    margin-right: -3px;
  }

  .footer_mob__menu > .row > .col {
    padding-left: 3px;
    padding-right: 3px;
  }

  .footer_mob__menu .footer__btn_mob {
    font-size: 18px;
    line-height: 24px;

    padding: 12px 0;
    width: 100%;

    border-radius: 75px;
  }

  .footer-info__link {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    font-feature-settings: "liga" off;

    text-decoration: none;

    color: #a0a8b1;
  }

  .footer-info__col.col-12 {
    margin-top: 6px;

    text-align: center;
  }
}

#anima {
  overflow: hidden;
}
